<div data-user="<%= user.id %>" data-lat="<%= user.latitude %>" data-lng="<%= user.longitude %>" class="card-base card-user">
  <%=  cl_image_tag user.avatar.url(:avatar, secure:true), class: "card-user-avatar avatar-xl avatar-bordered"  %>
  <!-- desc -->
  <div class="card-desc">
    <h2><%= full_name(user) %></h2>
    <div class="card-user-job">
      <h3><%= user.job %></h3>
      <%=  link_to raw("<i class='fab fa-linkedin'></i>"), user.linkedin, target:'blank', class: 'link' %>
    </div>
    <i class="fas fa-map-marker-alt"></i>
    <p>From <%= user.city %></p>
    <h4><%= user.mood %></h4>
    <%= link_to 'contact', chats_conversations_path(recipient_id: user.id),  method: :post, class: "btn btn-primary" %>
  </div>
  <%  if user.category.picto.present? %>
    <i class='<%= user.category.picto %> card-user-mood'></i>
  <% end %>
  <div class="card-km">
    10 km
  </div>
</div>


