<div data-user="<%= event.id %>" data-lat="<%= event.latitude %>" data-lng="<%= event.longitude %>" class="card-base card-event">
  <i class='<%= event.category.picto%> picto-small card-event-mood'></i>
  <div class="card-event-time text-center ml-3">
    <div id="red"><%= event.starts_at.strftime('%^b') %></div>
    <h4><%= event.starts_at.strftime('%d') %></h3>
  </div>
  <div class="card-desc">
    <h2><%= event.name %></h2>
    <i class="fas fa-map-marker-alt"></i>
    <p><%= event.address %></p>
  </div>
  <div class="card-event-attendees d-flex align-items-end">
     <%= render 'shared/attendees_avatars', attendees: event.attendees %>
     <p class="flex-grow-1 ml-1 mb-0">
          <%= event.attendees.size %>
    </p>
  </div>
  <div class="card-km">2 km</div>
  <%= link_to "", event_path(event), class: "card-link"  %>
</div>
