<div class="footer">
  <div class="footer-links">

    <%= link_to "<i class='fas fa-users' id='btn-users'></i>".html_safe, users_path, remote: true %>
    <%= link_to "<i class='fas fa-calendar-alt' id='btn-events'></i>".html_safe, events_path, remote: true %>

    <div class="badge-container">
       <%= link_to "<i class='fas fa-comments' id='btn-messages'></i>".html_safe, conversations_path %>
      <% if current_user.unread_messages > 0 %>
        <span class='badge-notification'><%= current_user.unread_messages %></span>
      <% else %>
        <span class='badge-notification d-none'><%= current_user.unread_messages %></span>
      <% end %>
    </div>
      <%#= link_to "<div class='bagde-container fas fa-comments'><span class='badge-notification'>#{count_all_unread_messages(current_user)}</span></div>".html_safe, conversations_path %>
  </div>
</div>

