<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "bizzy_logo.png" %>
    <!-- <img src="images/logo_bizzy.png" alt="logo"> -->
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Events</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Trips</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <% if user_signed_in? %>
        <div class="dropdown">
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Parameters</a></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
            <!-- <li><a href="#">Log Out</a></li> -->
          </ul>
        </div>
      <% else %>
        <%= link_to 'sign in/register',  new_user_session_path, class:"navbar-wagon-item navbar-wagon-link" %>
      <% end %>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <% if user_signed_in? %>
    <div class="dropdown">
      <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
      <!-- <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i> -->
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Parameters</a></li>
        <!-- <li><a href="#">Messages</a></li> -->
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
      </ul>
    </div>
    <% else %>
        <%= link_to 'sign in/register',  new_user_session_path, class:"navbar-wagon-item navbar-wagon-link" %>
      <% end %>
  </div>
</div>
