<div class="container">
  <div class="row">
    <!-- top square -->
      <div class="col d-flex align-items-center p-4">
        <i class='<%= @event.category.picto %> event-category'></i>
        <h3 class="flex-grow-1 text-center">
          <%= @event.name %>
        </h3>
        <div class="text-center ml-3">
          <div id="red"><%= @event.starts_at.strftime('%^b') %></div>
          <h4><%= @event.starts_at.strftime('%d') %></h3>
        </div>
     </div>
    </div>
  <!-- action -->
    <div class="row" id="event-control">
      <%= render 'event_controls', event: @event %>
    </div>
  <!-- desc -->
    <div class="row">
      <div class= " col info p-3">
         <p>
        <i class="far fa-clock"></i> <%= display_time(@event) %>
      </p>
      <p>
        <i class="fas fa-map-marker-alt"></i> <%= @event.address %>
      </p>
      <% if @event.link %>
        <p>
          <i class="fas fa-link"></i> <%= @event.link %>
        </p>
      <% end %>
      </div>
    </div>
    <div class="row">
      <div class=" col info p-3 border-bt-bold">
          <p><strong>details</strong></p>
          <p><%= @event.description %></p>
      </div>
    </div>
  <!-- attendees -->

<!--     <div class="row">
      <div class="col d-flex align-items-center p-3">
        <%#= cl_image_tag @event.user.avatar.url(:avatar, secure:true), class: "avatar-large avatar-bordered" %>
         <div class="flex-grow-1 pl-1">
          organized by <%= @event.user.first_name %>
        </div>
      </div>
    </div> -->

      <%= render 'event_organizer', event: @event %>

    <!-- rows -->
<!--     <div class="row">
      <div class="col d-flex align-items-center p-3 border-bt mb-4">
        <%#= render 'shared/attendees_avatars', attendees: @event.attendees %>
        <div class="flex-grow-1 pl-1" >
          <%#= pluralize(@event.attendees.size, 'attendee') %>
          <a class="message-link" data-toggle="collapse" data-target="#users" href="#users" role="button" aria-expanded="false" aria-controls="collapseExample"></a>
        </div>
      </div>
    </div> -->

    <!-- rows -->
   <div class="row" id="event-attendees">
      <%= render 'event_attendees', event: @event %>
    </div>


    <div id="users" class="collapse">
      <div class="row attendee">
        <div class="col">
           <ul class="list-group list-group-flush">
             <% @attendees.each do |attendee| %>
               <li class= "list-group-item d-flex align-items-center">
                  <%= cl_image_tag attendee.user.avatar.url(:avatar, secure:true), class: "avatar avatar-bordered"  %>
                  <div class= "flex-grow-1 ml-2">
                     <%=link_to full_name(attendee.user), user_path(attendee.user), class: "user-link" %>
                 </div>
              </li>
            <% end %>
           </ul>
         </div>
      </div>
    </div>
 </div>
</div>

