 <!-- status -->
 <%= render "status" %>
 <!-- off line view -->
 <div class="container">
   <div class="row">
     <div class="col-md-4 offset-md-4">
        <p><%= pluralize(@users.size, 'user') %> are available to hang out </p>
        <p>switch on to connect</p>
        <div class="avatars">
          <% @users.first(4).each do |user| %>
            <span class="avatar-group">
              <%= cl_image_tag user.avatar.url(:avatar, secure:true), class: "avatar-large avatar-bordered"  %>
            </span>
          <% end %>
        </div>
     </div>
   </div>
 </div>

 <!-- results -->
<div class="container">
  <div class="row people">
    <% @users.each do |user|  %>
      <div class="col-md-4">
        <%= render "shared/card_user", user: user %>
      </div>
    <% end %>
  </div>
   <div class="row event">
    <% @events.each do |event|  %>
      <div class="col-md-4">
        <%= render "shared/card_event", event: event %>
      </div>
    <% end %>
  </div>
</div>
